#table, .grid-row, .grid-cell{
 border: 3px solid black;
 border-collapse: collapse;	 
 padding: 30px;
 
}
 
#table{
 margin: auto; 
}

.bar{
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #00FFFF;
} 
