.cell {
    background-color: lightgrey;
    color: #fff;
    border-radius: 5px;
    padding: 19px;
    font-size: 150%;
    width: 50px;
    height: 50px;
    max-width:px; 
    display: inline-block;
}


#table, .grid-row, .grid-cell{
 border: 3px solid black;
 border-collapse: collapse;	 
 padding: 30px;
 
}
 
#table{
 margin: auto;
}

.bar{
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #00FFFF;
}
