#table, .grid-row, .grid-cell{
 border: 3px solid black;
 border-collapse: collapse;	 
 padding: 30px;
 
}
 
#table{
 position: fixed; 
 top: 20%;
 left: 30%;
}

.bar{
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #00FFFF;
}





